﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party!</title>
    </head>
    <body>
        <div>
            <div>
                We're going to have an exciting party.<br />
                (To do: sell it better. Add pictures or something.)
            </div>
        </div>
    </body>
</html>
